  <%= simple_form_for [ @movie ] do |f| %>

  <div class="flex-input">
    <%= f.input :title %>
    <%= f.input :year %>
  </div>
  
  <%= f.input :rated %>
  <%= f.input :duration %>
  <%= f.input :genre %>

  <% if current_page?(new_movie_path) %>
    <%= f.submit "Create movie", class: "btn btn-primary"%>
  <% else %>
    <%= f.submit "Edit movie", class: "btn btn-primary"%> 
  <% end %>

<% end %>