<div class="index-container">
  <h2 class="list-group"><%= @movie.title %></h2>
  <%= cl_image_tag @movie.photo.key, class: :contain %>

  <p><%= t 'CRUD.show.year' %> : <%= @movie.year %></p>
  <p><%= t 'CRUD.show.rate' %> : <%= @movie.rated %>/5</p>
  <p><%= t 'CRUD.show.duration' %> : <%= @movie.duration %>mn</p>
  <p><%= t 'CRUD.show.type' %> : <%= @movie.genre %></p>

  <p><%= t 'CRUD.show.reviews' %> :</p><ul class="list-group">
    <% @movie.reviews.each do |review| %>
      <li class="list-group-item">" <span class="italic"><%= review.content %></span> " | 
      <%= link_to t('CRUD.show.remove_review'),
                    review_path(review),
                    method: :delete,
                    data: { confirm: t('CRUD.show.confirm') } %></li>
    <% end %>
  </ul>

  <p><%= link_to t('CRUD.show.edit_movie'), edit_movie_path(@movie) %></p>
  <p><%= link_to t('CRUD.show.put_review'), new_movie_review_path(@movie) %></p>
  <p><%= link_to t('CRUD.show.delete_movie'),
              movie_path(@movie),
              method: :delete,
              data: { confirm: "Are you sure?" } %></p>
</div>