<h2><%= @movie.title %></h2>
<p>Année : <%= @movie.year %></p>
<p>Note : <%= @movie.rated %>/5</p>
<p>Durée : <%= @movie.duration %>mn</p>
<p>Genre : <%= @movie.genre %></p>

<%= link_to "Edit", edit_movie_path(@movie) %>
<br>
<%= link_to "Delete",
            movie_path(@movie),
            method: :delete,
            data: { confirm: "Are you sure?" } %>