<div class="nav-container">
  <h1><%= link_to (t 'site_title'), root_path, class: :title %></h1>

  <div class="navbar-top">
    <div></div>
    <ul>
      <li class="border-r"><%= link_to 'CRUD', movies_path %></li>
      <li class="border-r"><%= link_to 'API', api_path %></li>
      <li><%= link_to 'AUTH + API', auth_api_path %></li>
    </ul>
    <% if I18n.locale == I18n.default_locale %>
      <%= link_to image_tag("united-kingdom.png"), { locale: 'en' } %>
    <% else %>
      <%= link_to image_tag("france.png"), { locale: 'fr' } %>
    <%end%>
  </div>
  
</div>