<div class="new-container justify">

  <%= t 'home.text_html' %>

  <p>
    <%= t 'home.link_features.movie' %> <%= link_to (t 'home.link'), movies_path, class: :big %>
    <br>
    <%= t 'home.link_features.api' %> <%= link_to (t 'home.link'), api_path, class: :big %>
  <p>

</div>